// Medialand home hero section =====
.medialand-home {
  margin-bottom: 120px;
}

.hero {
  @include adaptiveValue("padding-top", 130, 50);
  padding-bottom: 64px;
  @media (max-width: em($mobile)) {
    padding-bottom: 69px;
  }
  &__container {
    max-width: 1210px;
    margin: 0 auto;
  }
  &__info {
    margin-bottom: 47px;
    padding-left: 45px;
    @media (max-width: $tablet) {
      padding-left: 20px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 40px;
      padding-left: 0;
    }
  }

  &__content {
  }

  &__image-ibg {
    padding-bottom: percent(809, 1210);
  }
}
.info-hero {
  &__title {
    margin-bottom: 25px;
    @include adaptiveValue("font-size", 59, 30);
    @include adaptiveValue("font-size", 70, 39);
    font-weight: 700;
    @media (max-width: em($mobile)) {
      margin-bottom: 15px;
    }
  }

  &__text {
  }
}

// Medialand home about section =====

.medialand-about {
  @include adaptiveValue("margin-bottom", 135, 80);
  &__container {
    max-width: 1120px;
    margin: 0 auto;
  }

  &__info {
    margin-bottom: 40px;
    max-width: 842px;
    width: 100%;
  }

  &__target {
    @include adaptiveValue("margin-bottom", 150, 80);
  }

  &__task {
    max-width: 840px;
    width: 100%;
    margin-bottom: 60px;
    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }
  }

  &__requirements {
    max-width: 820px;
    width: 100%;
  }
}

.target-about {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__column {
    &:first-child {
      flex: 0 1 420px;
      margin-right: 10px;
      @media (max-width: $mobile) {
        flex: 1 1 100%;
        margin-bottom: 40px;
        margin-right: 0;
      }
    }
    &:last-child {
      flex: 0 1 620px;
      @media (max-width: $mobile) {
        flex: 1 1 100%;
      }
    }
  }

  &__automatisation {
  }

  &__heading {
    margin-bottom: 10px;
  }

  &__list {
  }

  &__aim {
    background: $mainGrey;
    padding: 32px 54px 26px;
    @media (max-width: $mobile) {
      padding: 20px 10px;
    }
  }
}

.requirements-about {
  &__heading {
    margin-bottom: 10px;
  }

  &__list {
    counter-reset: section;
  }

  &__item {
    padding-left: 45px;
    position: relative;
    @media (max-width: $mobile) {
      padding-left: 30px;
    }
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      margin-right: 20px;
      content: counter(section, decimal) ".";
      counter-increment: section;
      @media (max-width: $mobile) {
        margin-right: 10px;
        font-size: 16px;
      }
    }
  }
}

// Medialand home page section composition =====

.medialand-composition {
  @include adaptiveValue("margin-bottom", 150, 80);
  &__container {
  }
}
.composition-item {
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 150, 80);
  }
  &_reverse {
    .composition-item__inner {
      flex-direction: row-reverse;
      @media (max-width: $pc) {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $pc) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__column {
    &:first-child {
      margin-right: 15px;
      @media (max-width: $pc) {
        margin-right: 0;
      }
    }
    &_image {
      flex: 0 1 840px;
      @media (max-width: $pc) {
        flex: 1 1 100%;
      }
    }

    &_info {
      flex: 0 1 450px;
      @media (max-width: $pc) {
        flex: 1 1 100%;
        margin-bottom: 44px;
      }
    }
  }

  &__image {
    max-width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
  }
}

// Search and analitics page =========

.hero-search {
  @include adaptiveValue("padding-top", 130, 50);
  padding-bottom: 64px;
  @media (max-width: em($mobile)) {
    padding-bottom: 69px;
  }
  &__container {
    max-width: 1120px;
    // width: 100%;
    // margin: 0 auto;
    // padding: 0 16px;
  }

  &__breadcrumps {
    margin-left: -60px;
    @include adaptiveValue("margin-bottom", 55, 25);
    @media (max-width: $pc) {
      margin-left: 0;
    }
  }

  &__info {
    max-width: 840px;
    width: 100%;
  }
}

// Medialand search & analitycs page - section about =====
.medialand-search-about {
  &__container {
    max-width: 1120px;
  }

  &__target {
    max-width: 840px;
    width: 100%;
    @include adaptiveValue("margin-bottom", 159, 77);
  }

  &__subject {
    @include adaptiveValue("margin-bottom", 155, 94);
  }
  &__audience {
    @include adaptiveValue("margin-bottom", 78, 33);
  }

  &__groups {
  }
}

.subject-search {
  &__title {
    margin-bottom: 30px;
    @media (max-width: $mobile) {
      margin-bottom: 58px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
    @media (max-width: $tablet) {
      margin-bottom: 10px;
    }
  }
}

.audience-search {
  &__info {
    max-width: 840px;
    width: 100%;
    @include adaptiveValue("margin-bottom", 78, 33);
  }
  &__content {
    max-width: 100%;
  }
}

.client-groups {
  @include adaptiveValue("margin-bottom", 160, 80);
  &__container {
    overflow-x: scroll;
  }
  &__image {
    width: 100%;
    max-width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media (max-width: $mobile) {
      max-width: none;
      width: 220%;
    }
  }
}

// Medialand search page. Client portraits section =====

.search-portraits {
  &__container {
    max-width: 1120px;
  }

  &__info {
    max-width: 840px;
    width: 100%;
    @include adaptiveValue("margin-bottom", 60, 25);
  }

  &__image {
    width: 100%;
    max-width: 840px;
    @include adaptiveValue("margin-bottom", 95, 55);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__desc {
    max-width: 840px;
    width: 100%;
  }

  &__text {
    @include adaptiveValue("margin-bottom", 85, 55);
  }

  &__behaviour {
  }
}

.search-behaviour {
  &__container {
    overflow-x: scroll;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media (max-width: $mobile) {
      max-width: none;
      width: 260%;
    }
  }
}
